[submodule "sfb_dfm_utils"]
	path = sfb_dfm_utils
	url = https://github.com/allietheking/sfb_dfm_utils
[submodule "sfbay_freshwater"]
	path = sfbay_freshwater
	url = https://github.com/allietheking/sfbay_freshwater
[submodule "sfbay_potw"]
	path = sfbay_potw
	url = https://github.com/allietheking/sfbay_potw
